---
import Layout from "../../layouts/Layout.astro";
import Preview from "../../components/Gallery/Preview.svelte";
import { db } from "~/lib/shared";
import { isLoggedIn } from "~/lib/SharedVerification";
import Plus from "~/components/Icons/Plus.svelte";

const loggedIn = await isLoggedIn(Astro);

const entries = await db("setups").select("*").orderBy("setups.created_on", "desc").limit(6);

// For each entry, select all images and add them to the entry
for (const entry of entries) {
	// Get the author name
	const author = await db("users").select("users.username").where("users.id", entry.users_id).first();
	entry.author = author.username;
}

---

<Layout title="Gallery | CyclersHub">
	<div class="flex flex-row justify-between items-center">
		<h1>Gallery</h1>
		{loggedIn ? <a href="/editor"><Plus width={35} height={35} class="fill-black-brown"></Plus></a> : null}
	</div>
	<div class="columns-3 gap-8 [&>*]:mb-8">
		{entries.map(entry => (
			<Preview entry={entry} href={`/gallery/${entry.uid}`} />
		))}
	</div>
</Layout>
