---
import Arrow from "~/components/Arrow.svelte";
import Parallax from "~/components/Parallax.svelte";
import Layout from "~/layouts/Layout.astro";
import MarkdownRenderer from "~/components/Markdown/MarkdownRenderer.svelte";
import yamlFrontMatter from "yaml-front-matter";

import * as fs from "fs";
import Overlay from "~/components/Overlay.svelte";
import Slideshow from "~/components/Slideshow.svelte";
import Slide from "~/components/Slide.svelte";

let source = fs.readFileSync("review-content.md", "utf8")


let parsed = yamlFrontMatter.loadFront(source);

let markdown = parsed.__content;

---

<Layout title="Reviews | The CyclersHub">
	<div class="relative h-[80vh]">
		<Parallax
			src={parsed.cover}
			client:load
		/>
		<h1 class="text-stone-200 text-6xl absolute z-10 bottom-8 max-w-[800px] left-[220px]">{parsed.title}</h1>
		<Arrow class="bg-stone-600 text-stone-200 absolute bottom-[-15px] left-[220px]">BIKEPACKING BIKES / RIDER & RIG</Arrow>
	</div>
	
	<div class="bg-stone-100 py-16">
		<article class="text-left max-w-[800px] mx-auto">
			<MarkdownRenderer content={markdown} client:load></MarkdownRenderer>
		</article>
	</div>
</Layout>

<style lang="scss" is:global>
	.full-width {
		@apply w-[100vw];
	}

	article blockquote {

		& p {
			@apply pl-4 font-semibold leading-8 text-lg;
		}

		@apply border-l-4 border-l-stone-600 my-8;
	}

	body article p {
		@apply text-base leading-8 mb-4;
	}

	body article p:has(img + img) {
		@apply grid grid-cols-2 gap-4 w-[1000px] ml-[-100px] my-8;
	}

	body article p:has(img + img + img) {
		@apply grid grid-cols-2 gap-4 w-[1000px] ml-[-100px] my-8;

		& img:nth-child(1) {
			@apply col-span-2;
		}
	}

	body article p:has(img + img + img + img) {
		@apply grid grid-cols-2 gap-4 w-[1000px] ml-[-100px] my-8;
	}

	body article p:has(img + img + img + img + img) {
		@apply flex flex-row flex-wrap gap-4 w-[1000px] ml-[-100px] my-8;

		& img:nth-child(1) {
			@apply w-[calc(50%-1rem)];
		}

		& img:nth-child(2) {
			@apply w-[calc(50%-1rem)];
		}

		& img {
			@apply w-[calc(33%-0.8rem)]
		}
	}

	body article h2 {
		@apply text-4xl font-bold my-4;
	}

	body article h3 {
		@apply text-2xl font-bold my-4;
	}

	body article p img:only-child {
		@apply w-[1000px] ml-[-100px] my-8 max-w-[1000px];
	}

	body article table {
		@apply w-full;

		& tr {
			@apply text-stone-600 w-full flex flex-row justify-between items-center px-2 py-1 bg-stone-100;

			& td:nth-child(1) {
				@apply font-semibold;
			}

			&:nth-child(2n+1) {
				@apply bg-stone-200 border-b border-t border-stone-300;
			}
		}
	}

	body article img {
		@apply cursor-pointer;
	}

	body article p a {
		@apply text-stone-600 pb-0.5 shadow-stone-300 transition-shadow;
		box-shadow: inset 0 -3px 0 -1px #d6d3d1;

		&:hover {
			box-shadow: inset 0 -23px 0 -1px #d6d3d1;
		}
	}
</style>
