---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Forum | CyclersHub">
	<div class="flex items-center justify-center w-full h-[100vh]">
		<h1>We're very sorry, but that page doesn't exist....</h1>
	</div>
</Layout>