---
import Layout from "../layouts/Layout.astro";
import Slideshow from "~/components/Slideshow.svelte";
import Parallax from "~/components/Parallax.svelte";
import Slide from "~/components/Slide.svelte";
import ImageCategory from "~/components/LandingPage/ImageCategory.svelte";
import Flag from "~/components/Flag.svelte";
---

<Layout title="CyclersHub">
	<Slideshow slide={0}>
		<Slide>
			<div class="relative h-[100vh] cursor-pointer">
				<Parallax
					src="/images/setups/3.jpg"
					client:only
				/>
				<a
					class="group absolute left-[50%] top-[50%] -translate-y-[50%] -translate-x-[50%] select-none text-center">
					<div class="flex flex-row gap-2 justify-center">
						<span class="text-white text-base font-bold tracking-wider">
							Rider & Rig
						</span>
					</div>
					<h1 class="uppercase text-white text-5xl font-bold tracking-wider">
						Handlebar Harnesses And Rolls
					</h1>
					<span
						class="uppercase text-white text-base font-bold tracking-wider h-[30px] group-hover:opacity-0 group-hover:h-0 block transition-all">
						By Nancy Matthews
					</span>
					<span class="pointer group-hover:opacity-100 group-hover:h-[30px]">
						Read More
					</span>
				</a>
			</div>
		</Slide>
		<Slide>
			<div class="relative h-[100vh]">
				<Parallax
					src="/images/setups/5.jpg"
					client:only
				/>
				<a
					class="absolute left-[50%] top-[50%] -translate-y-[50%] -translate-x-[50%] select-none text-center">
					<div class="flex flex-row gap-2 justify-center">
						<span class="text-white text-base font-bold tracking-wider">
							Rider & Rig
						</span>
					</div>
					<h1 class="uppercase text-white text-5xl font-bold tracking-wider">
						Black Mountain Cycles La Cabra Review
					</h1>
					<span class="uppercase text-white text-base font-bold tracking-wider">
						By Polly Collier
					</span>
				</a>
			</div>
		</Slide>
	</Slideshow>
	<div class="flex flex-col items-center py-8 px-16 bg-gray-100">
		<h3 class="font-semibold text-xl tracking-wide">DISPATCH</h3>
		<div class="grid grid-cols-4 gap-8">
			<a class="group cursor-pointer">
				<span class="text-xs text-gray-500 font-semibold">Aug 4</span>
				<div class="overflow-hidden">
					<img
						src="/images/setups/8.png"
						alt=""
						class="group-hover:scale-105 aspect-video object-cover my-2 transition-transform w-full h-full"
					/>
				</div>
				<p class="uppercase font-semibold text-xs line">
					FRIDAY DEBRIEF: CARGO BIKEPACKING, PSYCHIC MEDIUM BAGS, NEW ZPACKS
					TENT, AND MORE
				</p>
			</a>
		</div>
		<button
			class="uppercase text-sm font-bold tracking-wide text-gray-600 hover:text-gray-400 transition-colors">
			Load 4 More
		</button>
	</div>
	<div class="flex flex-col items-center py-16 px-16 bg-stone-200 gap-16">
		<p class="text-base font-semibold text-center max-w-[800px]">
			Welcome to the CyclersHub, your ultimate destination for discovering the
			most thrilling <a href="/routes/map">bikepacking routes</a>, <a
				href="/reviews">
				in-depth gear reviews
			</a>, <a href="/blog">inspiring tales of adventure</a>, <a href="/advice">
				expert planning tips
			</a>, <a href="/news">latest news</a>, and <a href="/events">
				exciting events
			</a> in the world of cycling.
		</p>
		<a href="">
			<img src="/images/Bikepacking-101-home-collage-scaled.jpg" />
		</a>
		<div class="flex flex-row relative">
			<Flag class="bg-stone-900 border text-white absolute top-[-15px] left-[50%] translate-x-[-50%] z-10">Explore</Flag>
			<ImageCategory
				href="/routes/map"
				src="/images/tour-view.jpg"
				heading="Bikepacking Routes"
				subheading="A Growing List"
			/>
			<ImageCategory
				href="/reviews"
				src="/images/camping-gear.jpg"
				heading="Bikepacking Gear"
				subheading="Reviews & DIY"
			/>
			<ImageCategory
				href="/gallery"
				src="/images/bikepacking-bike.jpg"
				heading="Bike Setups"
				subheading="& Touring Rigs"
			/>
			<ImageCategory
				href="/places/map"
				src="/images/camping-spot.jpg"
				heading="Wildcamping"
				subheading="Advice & Spots"
			/>
		</div>
	</div>
</Layout>

<style is:global lang="css">
	.parallax {
		filter: brightness(0.6);
	}

	.pointer {
		width: 116px;
		height: 0;
		overflow: hidden;
		-webkit-clip-path: polygon(
			95% 0,
			100% 50%,
			95% 100%,
			0% 100%,
			5% 50%,
			0% 0%
		);
		clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
		@apply text-black-brown items-center flex justify-center text-xs font-semibold transition-all;
		opacity: 0;
		background-color: #ffffff;
		margin: 0px auto;
		text-align: center;
		letter-spacing: 0.1em;
		line-height: 1em;
		text-transform: uppercase;
	}
</style>
