---
import Card from "../components/Card.svelte";
import HeroCard from "../components/HeroCard.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CyclersHub">
		<div class="flex flex-col gap-32">
			<div class="flex flex-col lg:flex-row justify-between gap-16 h-[calc(100vh-80px)] py-16">
				<div class="flex flex-col w-3/5">
					<h1 class="text-7xl font-semibold w-5/6 uppercase">Connect,<br> Learn, and Share with Fellow Cyclists!</h1>
					<hr class="my-16">
					<div class="flex flex-row gap-4 mb-8">
						<div class="flex flex-row">
							<img src="/images/face-1.jpg" class="rounded-full w-[60px] h-[60px] object-cover">
							<img src="/images/face-2.jpg" class="rounded-full w-[60px] h-[60px] object-cover ml-[-20px]">
							<img src="/images/face-3.jpg" class="rounded-full w-[60px] h-[60px] object-cover ml-[-20px]">
							<img src="/images/face-4.jpg" class="rounded-full w-[60px] h-[60px] object-cover ml-[-20px]">
						</div>
						<p class="font-normal">JOIN OUR COMMUNITY<br> OF 1+ AVID CYCLISTS</p>
					</div>
					<div class="flex flex-row gap-4">
						<a href="/forum" class="bg-slate-900 text-white text-lg font-medium px-8 py-4 rounded-tr-xl rounded-tl-xl rounded-br-xl hover:bg-slate-800 transition-colors">Start Exploring</a>
						<a href="/user/login" class="bg-transparent text-slate-900 border border-neutral-400 text-lg font-medium px-8 py-4 rounded-tr-xl rounded-tl-xl rounded-bl-xl rounded-br-xl hover:bg-neutral-100 transition-colors">Become A Member!</a>
					</div>
				</div>
				<div class="flex flex-col w-2/5 gap-4">
					<img src="/images/mountain-with-bike-in-front.jpg" class="w-full h-full object-cover rounded-tl-2xl rounded-br-2xl">
					<span class="text-neutral-400 text-sm">Photo by <a href="https://unsplash.com/@ocampos?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">O'car Johann Campos</a></span>
					<div class="flex flex-row gap-4">
					</div>
				</div>
			</div>
	
			<div class="flex flex-col gap-16 h-[100vh]">
				<h2 class="text-center font-semibold text-4xl">Find quality reads on any topic</h2>
				<div class="flex flex-row gap-32 h-full">
					<div class="w-2/4 h-full overflow-hidden rounded-xl relative">
						<img src="/images/bicycle-on-mountain.jpg" class="h-full w-auto object-cover rounded-xl hover:scale-105 transition-transform cursor-pointer">
						<div class="absolute bottom-0 left-0 px-4 py-4 w-full h-auto z-10 bg-slate-900 opacity-60 backdrop-filter-[blur(16px)]">
							<p class="text-white">12 Timeless Sci-Fi Books: Journey to Uncharted Worlds</p>
						</div>
					</div>
					<div class="w-2/4 h-full">
						<h2>Trending Keywords</h2>
					</div>
				</div>
			</div>
	
			<div class="flex flex-col gap-8 py-12 px-16 w-full rounded-xl bg-slate-200 border-2 border-slate-800 items-center">
				<h2 class="text-center font-semibold text-4xl">Get started for free!</h2>
				<p>You can become a reader, an author, or both! Join today, cancel anytime, no commitment. </p>
				<div class="flex flex-row gap-8">
					<a href="" class="bg-slate-900 text-white text-lg font-medium px-8 py-4 rounded-tr-full rounded-tl-full rounded-br-full hover:bg-slate-800 transition-colors">Sign up for an account</a>
					<a href="" class="bg-white text-slate-900 border border-neutral-400 text-lg font-medium px-8 py-4 rounded-full hover:bg-neutral-100 transition-colors">Log in</a>
				</div>
			</div>
		</div>
</Layout>
