@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
	box-sizing: border-box;
	font-family: Bitter;
	@apply text-black-brown;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Bitter
}


body .button {
	@apply py-2 px-6 rounded-bl-xl rounded-tl-xl rounded-tr-xl bg-light-driftwood text-black-brown font-medium outline-none border-none transition-colors flex items-center text-lg;

	&:hover {
		@apply bg-light-golden-brown;
	}
}

body h1 {
	@apply text-3xl font-medium mb-2 ;
}

body h2 {
	@apply text-2xl font-medium mb-2;
}

body p {
	@apply text-xl font-normal mb-4;
}

body input,
body textarea,
body select {
	@apply rounded-lg px-4 py-2 text-lg outline-none border w-full;

	&:hover {
		@apply bg-gray-50;
	}

	&:focus {
		@apply bg-gray-100;
	}
}


section:not(.reverse) {
	@apply lg:grid-cols-[1fr,2fr];
}
.reverse {
	@apply lg:grid-cols-[2fr,1fr];
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	position: relative;
}

body h1, body h2, body h3, body h4 {
	@apply uppercase text-stone-900;
}

.parallax {
	filter: brightness(0.6);
}