---
import { getUser, isLoggedIn } from '~/lib/SharedVerification';
import Notifications from './Icons/Notifications.svelte';
import NotificationSystem from './NotificationSystem.svelte';
import Bookmark from './Icons/Bookmark.svelte';

export type Props = {
	fullwidth: boolean;
}

const { fullwidth } = Astro.props;

const loggedIn = await isLoggedIn(Astro);
const user = await getUser(Astro);
---

<header class="h-[60px] items-center flex border-b">
	<div class="mx-auto w-full px-4 flex flex-row justify-between" style={`max-width: ${fullwidth ? "100%" : "1200px"};`}>
		<a href="/"><img src="/logo-no-text.svg" alt="CyclersHub" width="80"></a>
		<div class="flex flex-row gap-4 items-center">
			<a href="">Home</a>
			<a href="/forum">Forum</a>
			<a href="/groups">Groups</a>
			{loggedIn ? <Notifications width={25} height={25}></Notifications> : ""}
			<NotificationSystem client:load></NotificationSystem>
			{loggedIn ? <a href="/bookmarks"><Bookmark width={25} height={25}></Bookmark></a> : ""}
			{loggedIn ? <a href="/user"><img class="rounded-full w-10 h-10" src={user.profile_picture || "/user-placeholder.svg"}></a> : <a href="/user/login" class="button">Login</a>}
		</div>
	</div>
</header>
