---
import { getCollection } from "astro:content";
import Preview from "~/components/Gallery/Preview.svelte";
import OverviewLayout from "~/layouts/OverviewLayout.astro";

let brands = await getCollection("brands");
---

<OverviewLayout title="Brands | The CyclersHub">
	<div slot="head">
		<span class="uppercase text-stone-900 font-bold tracking-wide text-sm">
			All Brands
		</span>
		<h1 class="font-bold tracking-wide m-0">Bicycles & Accessories</h1>
		<h2 class="font-bold text-lg tracking-wider mb-4">Brands & Companies</h2>
		<p class="font-semibold text-base max-w-[800px] mx-auto">
			A growing compilation of reviews, from bikepacking bags to bike
			components, apparel and camping gear. Sort through reviews by category, or
			find the latest below.
		</p>
	</div>
	<div class="columns-1 md:columns-2 lg:columns-3 gap-8 [&>*]:mb-8">
		{
			brands.map((brand) => (
				<Preview
					entry={{
						title: brand.data.name,
						author: brand.data.author,
						cover: brand.data.logo,
					}}
					href={`/brands/${brand.slug}`}
				/>
			))
		}
	</div>
</OverviewLayout>
