---
import { getCollection, getEntryBySlug } from "astro:content";
import Preview from "~/components/Gallery/Preview.svelte";
import { ReviewCategories } from "~/lib/ReviewCategories";
import OverviewLayout from "~/layouts/OverviewLayout.astro";

let category = Astro.params.category as string;

let articles = await getCollection("reviews");

if (!ReviewCategories.hasOwnProperty(category)) {
	category = "all";
}

if (category !== "all") {
	articles = articles.filter((article) => article.data.category === category);
}
---

<OverviewLayout title="Reviews | The CyclersHub">
	<div slot="head">
		<span class="uppercase text-stone-900 font-bold tracking-wide text-sm">
			{ReviewCategories[category]}
		</span>
		<h1 class="font-bold tracking-wide m-0">Bicycle Touring Gear</h1>
		<h2 class="font-bold text-lg tracking-wider mb-4">Reviews And Roundups</h2>
		<p class="font-semibold text-base max-w-[800px] mx-auto">
			A growing compilation of reviews, from bikepacking bags to bike
			components, apparel and camping gear. Sort through reviews by category, or
			find the latest below.
		</p>
	</div>
	<div class="columns-1 md:columns-2 lg:columns-3 gap-8 [&>*]:mb-8">
		{
			Promise.all(articles.map(async (article) => {
				const author = await getEntryBySlug("authors", article.data.author.slug);
				
				return (
				<Preview
					entry={{
						title: article.data.title,
						author: author.data.name,
						cover: article.data.cover,
					}}
					href={`/reviews/${article.slug}`}
				/>
			)}))
		}
		

		{articles.length == 0 ? <h2>There are currently no reviews in this category.</h2> : ""}
	</div>
</OverviewLayout>
