---
import "../style/article.scss";
import Arrow from "~/components/Arrow.svelte";
import Parallax from "~/components/Parallax.svelte";
import Layout from "./Layout.astro";

export interface Props {
	title: string;
	cover: string;
	heading: string;
	category: string;
}

const { title, cover, heading, category } = Astro.props;
---

<Layout title={title}>
	<div class="relative h-[50vh] lg:h-[80vh]">
		<Parallax
			src={cover}
			client:load
		/>
		<h1
			class="text-stone-200 text-3xl lg:text-6xl absolute z-10 bottom-8 max-w-[800px] left-0 px-8 lg:left-[220px]">
			{heading}
		</h1>
		<Arrow
			class="bg-stone-600 text-stone-200 absolute bottom-[-15px] left-8 lg:left-[252px] h-[30px]">
			{category}
		</Arrow>
	</div>

	<div class="bg-stone-100 py-16">
		<article class="text-left max-w-[800px] mx-auto px-8">
			<slot></slot>
		</article>
	</div>
</Layout>
